#Mob Farm Configuration
#
# This configuration file allows you to define the general settings for the Mob Farms.
#Wed Feb 12 08:47:18 EST 2025
progressingRequiresOwnerToBeOnline=false
tier0progressionUpgradeSpeed=0
tier3progressionUpgradeSpeed=9
tier2progressionUpgradeSpeed=6
tier1progressionUpgradeSpeed=3
experienceDropChance=9
speedEnhancementUpgradeSpeed=6
