#Mob Farm Configuration
#
# This configuration file allows you to define the general settings for the Mob Farms.
#Sat Jun 07 07:35:42 EDT 2025
progressingRequiresOwnerToBeOnline=false
luckyDropFarmLuckPercentage=95
tier0progressionUpgradeSpeed=0
tier3progressionUpgradeSpeed=9
tier2progressionUpgradeSpeed=6
farmProgressingTime=6000
tier1progressionUpgradeSpeed=3
experienceDropChance=9
speedEnhancementUpgradeSpeed=6
