# Minimum and maximum terrain height at which castle spawns.
min-terrain-height = 16
max-terrain-height = 64

# Average distance is chunks between two castles, must be at least 1.
spacing = 64

# Minimum distance is chunks between two castles, must lower than spacing and grater or equal 0.
separation = 16

# Minimum and maximum castle size.
max-castle-size = 16
min-castle-size = 1

# Chance of spawner and chest in castle hallway. Their sum should not be bigger than 100%.
spawner-chance = 35%
chest-chance = 20%

# Custom spawner logic.
spawner-logic = {Delay:15,MaxNearbyEntities:4,MaxSpawnDelay:20,MinSpawnDelay:10,RequiredPlayerRange:6,SpawnCount:4,SpawnRange:5}
