#Mob Capture Card Configuration
#
# This configuration file allows you to define the general settings for the Mob Capture Cards.
#Mon Nov 18 12:43:41 EST 2024
mobCaptureCardFishingDropChance=0.15
dropMobCaptureCardOnFishing=true
requirePlayerKill=true
mobCaptureCardKillDropChance=0.1
mobCaptureCardFoilDropChance=0.01
dropMobCaptureCardOnKill=true
